html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-button {
  width: 10px;
  height: auto;
  background-color: rgb(57, 52, 52);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(57, 52, 52);
  border-radius: 10px;
}
body {
  display: block;
  margin: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: max-content;
  background-color: #17191f;
  flex-wrap: wrap;
  color: #ffffff;
}
body,
.houseStarButton > button {
  font-family: 'Josefin Sans', sans-serif;
}
.houseTextWrap > h1 {
  font-weight: 700;
  font-size: 70px;
}
.houseTextWrap > p {
  font-weight: 400;
  font-style: italic;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/* nav */
.navSvg {
  width: 60px;
  height: 40px;
  margin-bottom: 10px;
}
.navContainer {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navElements div {
  margin-top: 16px;
  margin-bottom: 0px;
}
.navElements {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  border-bottom: 2px solid #ffffff;
}
.navContainer > div > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* hero */
.indexHeroWrapper {
  background-size: cover;
  width: 100%;
  height: 90vh;
  text-align: left;
  color: white;
  background-image: url(/Media/HeroTest.png);
  background-size: cover;
}

.indexHeroText {
  position: absolute;
  top: 50%;
  left: 10%;
}
.indexHeroText > h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
}
.indexHeroText > p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
}
.heroWrapper > img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.houseWrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin-top: 32px;
}
.houseOuterContainer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
}
.houseWrapperH1 {
  margin-left: 15%;
}
.houseInnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  margin-bottom: 32px;
}

.indexInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  margin-top: 80px;
  margin-bottom: 80px;
  background-image: url(/Media/aboutUsBG.png);
}
.indexContainer {
  width: 70vw;
  height: auto;
  background-color: #232529;
  display: flex;
  flex-direction: row;
}
.indexInfoText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  line-height: 120%;
}
.indexInfoText > h1 {
  text-align: left;
  font-size: 34px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 32px;
}
.indexInfoImage {
  width: 40%;
  margin-left: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
}
.houseContainer {
  width: 25%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  background-color: #232529;
}
.houseContainer > * {
  margin: 0px;
}
.indexHouseImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.sceneryContainer {
  color: #ffffff;
  margin-left: 15%;
  margin-right: 15%;
}
.sceneryImages {
  display: flex;
  justify-content: space-between;
}
.reviewsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 32px;
}
.reviewsContainer > h1 {
  font-size: 30px;
}
.reviewsContainer > p {
  font-size: 16px;
}
.test,
.reviews {
  width: 50%;
  height: 200px;
  background-color: #232529;
  color: white;
}
img.arrow {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  text-align: center;
}

/* house info-page Header */
.houseHeaderBackground {
  z-index: 1;
}
.seasideSwiper {
  width: 100%;
  height: 600px;
  margin-bottom: 80px;
}
.seaside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100vw;
  max-height: 100vh;
}

.houseInformationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.houseHeaderImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.houseHeaderOverlay {
  height: auto;
  width: auto;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.houseTextWrap > h1 {
  margin-bottom: 0;
}
.houseTextWrap > p {
  max-width: 500px;
  margin-left: 20px;
}
.houseStarButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  height: auto;
  margin-top: 0px;
  position: absolute;
  left: 28%;
  top: 100%;
}
.houseStarButton > button {
  width: 100px;
  height: auto;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-width: 2px;
  text-align: center;
  color: white;
}
.houseStarButton > button:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
}
.houseStarButton > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/* house info page information body */
.houseInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.houseInfoText {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ffffff;
  font-size: 18px;
  padding-right: 40px;
  margin-left: 15%;
  line-height: 150%;
}
.houseInfoFeatures {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}
.houseInfoFeatures > div,
.houseInfoExtrasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.houseInfoExtrasContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: auto;
}
.houseInfoFeatures > div > img,
.houseInfoExtrasContainer > div > img {
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
}
.houseInfoExtrasContainer > div > img {
  margin-right: 32px;
}
.houseInfoFeatures > div > p,
.houseInfoExtrasContainer > div > p {
  font-size: 16px;
}
.houseInfoExtras {
  width: auto;
  height: auto;
  margin-right: 15%;
}
.houseInfoExtras > div {
  gap: 30px;
}
.houseInfoExtras > a {
  color: #ffffff;
}

/* form styling */
.bookingFormWrapper {
  background-color: #232529;
  padding-top: 32px;
}
.bookingFormWrapper {
  margin-left: 15%;
  margin-right: 15%;
}
.bookingFormWrapper > * {
  margin-left: 16px;
  margin-right: 16px;
}
.formHeaderBig {
  margin-top: 32px;
  font-size: 30px;
}
.formHeaderSmall {
  color: #beb0b0;
  font-size: 20px;
  margin-top: 0px;
}
.dateWrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 80px;
  margin-bottom: 10px;
}
.datePicker {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.extrasWrapper {
  display: flex;
  flex-direction: row;
  background-color: #17191f;
  width: auto;
  height: auto;
  height: 100px;
}
.extrasCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  gap: 16px;
}
.extrasInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;

  margin-left: 16px;
  margin-right: 16px;
}
.extrasInfoContainer > p {
  font-size: 14px;
}
.orderDetails {
  padding-bottom: 32px;
}
.orderTotal {
  font-size: 30px;
  margin-bottom: 16px;
}
.orderDetailsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  background-color: #232529;
}
/*calendar*/

#calendarHeader {
  text-align: center;
  /*background-color: rgb(169, 188, 182);*/
}
.booked {
  background-color: rgb(236, 118, 118) !important;
}
.calendarButton {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  text-align: center;
}
.calendarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
}
.calendarContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}
.calendar {
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 0, 0);
}
td {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background-color: white;
  color: black;
  text-align: center;
  margin: 30px;
}
td:hover {
  background-color: rgb(171, 248, 255);
  transition-duration: 0.8s;
}
tbody {
  gap: 20px;
}
.extras {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
}
.writeReview {
  justify-content: center;
  text-align: center;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 80px;
  margin-bottom: 80px;
}
.writeReview h1 {
  font-size: 24px;
  font-weight: 400;
}
.writeReview p {
  font-size: 12px;
}

/* footer */
.footerContainer {
  display: flex;
  justify-content: center;
}
.footerElements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 60px;
}
.footerHeader > h1 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer {
  display: flex;
  text-align: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 16px;
  background-color: #232529;
}
.footer h3 {
  margin-top: 32px;
}
.footerLegal {
  display: flex;
  justify-content: center;
}

/* confirmation page */
.confirmationMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #ffffff;
}
.dropdown {
  position: relative;
  margin-top: 40px;
}
.dropdownContent {
  display: none;
  background-color: #17191f;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.active {
  display: block;
}
.dropdownButton {
  display: flex;
  width: 180px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border-bottom: 2px solid white;
  cursor: pointer;
  text-align: left;
  line-height: 40px;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 85px;
}
.dropdownButton img {
  width: 16px;
  height: 16px;
  margin-bottom: 0px;
  padding-top: 10px;
}
.dropdownButton:hover {
  background-color: white;
  color: black;
  transition-duration: 0.2s;
}
img.dropdownButton:hover {
  filter: invert(100%);
  transition-duration: 0.2s;
}

.datePicker {
  display: flex;
  flex-direction: row;
  margin: 0px;
}
